/*
 * 6.813 Handout Style
 */

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400italic,300,700,300italic,400);
@import url(highlight-eclipse.css);
body {
    position: relative;
    /* required for scrollspy */
    
    color: #37373c;
    height: 100%;
    font-size: 1.6em;
    line-height: 1.8em;
    font-weight: 300;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 150px;
}
.container {
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}
.markdown:not(.converted) {
    opacity: 0.5;
    white-space: pre-wrap;
}
header {
    /*background: #353B56;*/
    background: #3f51b5;
}
footer {
    background: #999;
    text-align: right;
    margin-top: 2em;
}
header, footer {
    color: #fff;
    padding: 0.5em 2em;
}
header, footer, h1, h2, h3, h4, h5, h6, nav {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
header a, header a:focus, header a:hover {
    color: #fff;
}
header > div {
    float: right;
}
footer.footer-margin {
    text-align: left;
    color: #999;
    background: #fff;
    padding: 0 1em;
}
@media(min-width:768px) {
    footer.footer-margin {
        padding: 0 1em 1em 2em;
        /*position: absolute;
        bottom: 4em;*/
    }
}
footer.footer-margin > div {
    font-weight: normal;
    font-size: 85%;
    line-height: 1.33;
}
/* table of contents */

@media(min-width:768px) {
    nav.navigation {
        position: fixed;
        padding: 0 1em 0 0;
    }
}
.nav > li > a {
    padding: .2em .2em .2em 2em;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 0.9em;
}
.nav > li > a:hover {
    background-color: #eee;
    color: #333;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
.nav > li.active > a {
    color: #fff;
    background-color: #64C9DC;
    border-right: 5px solid #0FACCB;
}
/* tweak header sizes */

h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin: .5em 0;
}
.lecture-info {
    border-bottom: 1px solid #0FACCB;
    margin-top: 1em;
}
h2 {
    font-size: 2em;
    line-height: 1.8em;
    margin-top: 40px;
}
h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin: .5em 0;
}
h4 {
    width: 80%;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    margin: 1em auto;
    padding: 1em 0;
    color: #81818b;
    font-style: italic;
    font-weight: 300;
}
h4::before {
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto 15px auto;
    border-top: 1px solid #0FACCB;
}
h4::after {
    content: "";
    display: block;
    width: 100px;
    margin: 15px auto 0 auto;
    border-bottom: 1px solid #0FACCB;
}
p {
    /*margin: 1em 0;*/
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.markdown a {
    /*color: inherit;*/
    /*font-weight: bold;*/
    border-bottom: 1px solid #0FACCB;
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.markdown a:hover {
    color: #0FACCB;
    border-bottom: 1px solid #0FACCB;
}
.slide {
    border: 1px solid #b4b4c8;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: 1em;
    /*counter-increment: section;*/
    /*width: 50%;*/
    max-width: 700px;
    /*margin-left: 50px;*/
}
.row {
    margin-bottom: 3em;
}

.slide h1 {
    color: #0FACCB;
    font-size: 1.2em;
    line-height: 1em;
}
.slide p {
    margin: 0;
}
.slide .caption {
    font-size: 0.8em;
    font-style: italic;
    line-height: 0.8em;
    text-align: center;
}
/*
.slide:after {
    content: counter(section);
    font-size: 0.8em;
    float: right;
}
*/
.center {
    text-align: center;
}
blockquote {
    margin-left: 50px;
    padding: 2px 30px;
}
img {
    height: auto;
    max-width: 100%;
    width: auto;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 10px;
}
table {
    table-layout: fixed;
}

table.full-width {
    width: 100%;
}

.table-container, pre {
    overflow-x: scroll;
    background-color: #fafafa;
    box-shadow: inset 0px 0px 3px 3px #efeff3;
    border: solid 1px #e0e0e8;
    border-radius: 5px;
    padding: 10px 0;
    margin: 20px 0;
}
thead tr {
    border: 1px solid #282832;
}
td, th {
    padding: 0 10px;
}
pre {
    padding: 5%;
    margin: 30px 0;
}
/* handout classes */

.handout-edx > i {
    font-weight: bold;
    color: #999;
}
/* definition lists always act like dl-horizontal */

dl {
    margin-bottom: 0;
}
dl dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dl dd {
    margin-left: 180px;
}
dl dd:before, dl dd:after {
    display: table;
    content: " ";
}
dl dd:after {
    clear: both;
}
/* alternate styles for ordered lists */

.list-style-lower-alpha > ol {
    list-style-type: lower-alpha;
}
.list-style-upper-alpha > ol {
    list-style-type: upper-alpha;
}
.list-style-sub-lower-alpha > ol > li > ol {
    list-style-type: lower-alpha;
}
.list-style-sub-upper-alpha > ol > li > ol {
    list-style-type: upper-alpha;
}
/* blockquotes are not large */

blockquote {
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: inherit;
}
/* code is not in a different color */

code {
    color: inherit;
    background-color: #f5f5f5;
}
/* tt behaves like code but allows line wrapping */

tt {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f5f5f5;
    border-radius: 4px;
}
/* danger alerts are a little too dangerous-looking */

.alert-danger {
    background: #f7ebeb;
}
/* floating panels */

.panel.pull-right {
    margin: 0 0 10px 10px;
}
.panel.pull-left {
    margin: 0 10px 10px 0;
}
/* inline figures */

.inline-figure img {
    max-width: 100%;
}
/* floating figure panels */

.panel.panel-figure.pull-right {
    clear: both;
}
.panel.panel-figure.pull-left {
    clear: both;
}
@media(max-width:767px) {
    .panel.panel-figure.pull-left img, .panel.panel-figure.pull-right img {
        max-width: 100%;
    }
}
@media(min-width:768px) {
    .pull-margin, .panel.panel-figure.pull-right.pull-margin {
        margin-right: -25%;
    }
}
/* borderless figure tables */

.table.table-figure td {
    border: none;
}
/* Bootstrap/Markdown spacing */

.markdown h2 > small > p:only-child, .markdown h3 > small > p:only-child, .markdown h4 > small > p:only-child {
    display: inline-block;
}
.markdown dl {
    margin-bottom: 10px;
}
.markdown table th p {
    margin: 0;
}
.markdown table th:empty {
    padding-top: 0;
    padding-bottom: 0;
}
.markdown pre > p {
    margin: 0;
}
.markdown .alert {
    clear: both;
    margin-bottom: 10px;
}
.markdown .alert > p:not(:last-child), .markdown .alert > ul:not(:last-child) {
    margin-bottom: 10px;
}
.markdown .alert > dl:last-child, .markdown .alert > pre:last-child {
    margin-bottom: 0;
}
.markdown .alert > hr {
    margin: 10px 0;
}
.markdown .panel .panel-heading > p, .markdown .panel .panel-footer > p {
    margin: 0;
}
.markdown .panel .panel-body > p:last-child, .markdown .panel .panel-body > table:last-child {
    margin-bottom: 0;
}
.markdown .table td > ul:last-child {
    margin-bottom: 0;
}
/* staff notes: postmortems */

.postmortem-incomplete:before {
    content: 'incomplete';
    margin-top: 1.5em;
}
.postmortem-no-time:before {
    content: 'no time';
    margin-top: 0.5em;
}
.postmortem-todo:before {
    content: 'todo';
    margin-top: 0.1em;
}
.postmortem-incomplete:before, .postmortem-no-time:before, .postmortem-todo:before {
    color: rgb(238, 95, 91);
    text-transform: uppercase;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 100%;
}
.postmortem-incomplete, .postmortem-no-time, .postmortem-todo {
    position: relative;
    background-color: rgba(238, 95, 91, 0.25);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
    background-repeat: repeat;
    background-size: 40px 40px;
    padding: 0 10px;
    margin: 0 -10px;
    border-radius: 10px;
}