/* edX sets styles on all span elements, because that's a great idea */
#course-content code span {
	font-family: inherit;
}

/* prevent stacking font-size reduction on code blocks & try to keep line numbers aligned */
#course-content pre[class*="language-"],
#course-content pre[class*="language-"] * {
	font-size: 14.4px !important;
	line-height: 1.4 !important;
}
/* reduce block padding from values below */
#course-content pre[class*="language-"] {
	padding-top: .25em !important;
	padding-bottom: .25em !important;
}

/* code answers */
#course-content .problem .code-answers label {
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: .9em;
}

/*
 * and now the original Prism CSS except:
 * - selectors modified to include #course-content so they win the CSS priority game
 */

/* http://prismjs.com/download.html?themes=prism&languages=clike+java+python&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

#course-content code[class*="language-"],
#course-content pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
#course-content pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

#course-content :not(pre) > code[class*="language-"],
#course-content pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
#course-content :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

#course-content .token.comment,
#course-content .token.prolog,
#course-content .token.doctype,
#course-content .token.cdata {
	color: slategray;
}

#course-content .token.punctuation {
	color: #999;
}

#course-content .namespace {
	opacity: .7;
}

#course-content .token.property,
#course-content .token.tag,
#course-content .token.boolean,
#course-content .token.number,
#course-content .token.constant,
#course-content .token.symbol {
	color: #905;
}

#course-content .token.selector,
#course-content .token.attr-name,
#course-content .token.string,
#course-content .token.builtin {
	color: #690;
}

#course-content .token.operator,
#course-content .token.entity,
#course-content .token.url,
#course-content .language-css .token.string,
#course-content .style .token.string,
#course-content .token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

#course-content .token.atrule,
#course-content .token.attr-value,
#course-content .token.keyword {
	color: #07a;
}

#course-content .token.function {
	color: #DD4A68;
}

#course-content .token.regex,
#course-content .token.important {
	color: #e90;
}

#course-content .token.important {
	font-weight: bold;
}

#course-content .token.entity {
	cursor: help;
}

#course-content pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

#course-content pre.line-numbers > code {
	position: relative;
}

#course-content .line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	#course-content .line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		#course-content .line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
